.looper-marker {
    width: 14px;
    height: 14px;
    background: #f00;
    position: absolute;
    top: -6px;
    z-index: 1000;
    cursor: pointer;
    box-sizing: border-box;
    border: 4px solid #eeeeee;
    border-radius: 50%;
}

.looper-marker:hover {
    transform: scale(1.15);
}

:fullscreen .looper-marker {
    width: 18px;
    height: 18px;
    top: -8px;
    border: 5px solid #eeeeee;
}

.looper-marker.leftMarker {
    left: -5px;
}

.looper-marker.rightMarker {
    right: -5px;
}

.ytp-loop-icon {
    width: 10px;
    height: 10px;
    border: 3.5px solid #eaeaea;
    border-radius: 50%;
    margin: auto;
}

:fullscreen  .ytp-loop-icon {
    width: 16px;
    height: 16px;
    border: 4.5px solid #eaeaea;
}

:fullscreen  .ytp-button.ytp-loop-button.active .ytp-loop-icon {
    border: 4.5px solid #f00;
}

.ytp-button.ytp-loop-button.active .ytp-loop-icon {
    border: 3.5px solid #f00;
}

.ytp-button.ytp-loop-button .loop-hover-tip {
    display: none;
    padding: 5px 10px;
    line-height: 1.2;
    font-size: 1.1em;
    font-weight: 500;
    position: absolute;
    background: #161616;
    color: #f1f1f1;
    border-radius: 2px;
    transform: translate(-30%, -3.6em);
}

.ytp-button.ytp-loop-button:hover .loop-hover-tip {
    display: block;
}